  .container {
    margin: 0;
    padding: 0;
  }  

  .bg_div {
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 0;
    left: 0;
    
  }

  .bg_01,
  .bg_02,
  .border{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    top: 0;
    left: 0;
  }

  @keyframes bg_02 {
    from {
      transform: translate(0, 0) rotate(0);
    }

    to {
      transform: translate(0, -30px) rotate(0);
    }
  }

  .bg_02{
    animation: 10s bg_02 alternate infinite;
  }

  .title_div{
    width:100vw;
    position: fixed;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }

  .title {
    position: flex;
    width: 100vw;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
  }

  .table_content{
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;

  }

  @keyframes arrow {
    from {
      transform: translate(-10px, 20px) rotate(0);
    }

    50% {
      transform: translate(-10px, 0) rotate(0);
    }

    to {
      transform: translate(0, 0) rotate(2deg);
    }
  }

  @keyframes arrow_flip {
    from {
/*      transform: translate(-10px, 20px) rotate(0);*/
      transform: rotate(180deg) translate(-10px, 20px);
    }

    to {
/*      transform: translate(0, 0) rotate(2deg);*/
      transform: rotate(183deg) translate(-5px, 10px);
    }
  }

  .table_arrow{
    display: block;
    max-width: 800px;
    width: 48vw;
    height: auto;
    margin: 0 auto 0 0;
    animation: 19s arrow alternate infinite;
  }
  .table_arrow_flip{
    display: block;
    max-width:800px;
    width: 48vw;
    height: auto;
    margin: 0 0 0 auto;
    animation: 8s arrow_flip alternate infinite;
  }
  .table_info_text{
   text-align: right;
    font-weight: normal;
    font-size: 1.3vw;
    line-height:0.1vh;
    color:white;
    max-width: 800px;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    padding-left: 4vw;
    padding-bottom: 2vw;
    vertical-align: bottom;

    text-shadow: 0 0 0.5em #66B32E;
  }

  .table_curatorial_text{
    text-align: justify;
    font-weight: normal;
    font-size: 1.4vw;
/*    line-height:vh;*/
    line-height: 1em;
    color:white;
/*    max-width: 800px;*/
/*    width: 10vw;*/
    height: auto;
    margin: 0 auto;
    padding-right: 4vw;
    vertical-align: top;
    text-shadow: 0 0 0.5em #66B32E;
  }

  .table_placeholder{
/*    max-width: 800px;*/
/*    width: 50vw;*/
    height: 20vw;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  .table_logos {
    display: flex;
    width: 48vw;
    gap: 1vw;
    padding-left: 4vw;
  }

  .table_logos img {
    max-width: 100px;
    height: auto;
  }